.unit-staff-editor .no-shadow {
  box-shadow: none !important;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 22px;
}

.unit-staff-editor .mat-card {
  margin-bottom: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.unit-staff-editor .mat-form-field-wrapper {
  padding-bottom: 0;
}

.form-container {
  display: flex;
  align-items: center;

  .mat-form-field {
    flex: 1;
    margin-right: 8px; // Space between input and button
  }

  .add-button {
    background-color: #4caf50; // Green color
    color: white;
    height: 56px; // Match height of the mat-form-field
    min-width: 128px; // Ensure button width is sufficient
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      vertical-align: middle;
    }
  }
}
